@import url(https://fonts.googleapis.com/css2?family=Fira+Code&family=Shantell+Sans&display=swap);

:root {
	--bg-alpha: color-mix(in oklab, var(--color-bg), light-dark(black, white) 12%);
	--bg-omega: color-mix(in oklab, var(--color-bg), light-dark(white, black) 12%);
	--fg-alpha: color-mix(in oklab, var(--color-fg-1), light-dark(black, white) 12%);
	--fg-omega: color-mix(in oklab, var(--color-fg-1), light-dark(white, black) 12%);
	
	--fg-blend: color-mix(in oklab, var(--color-fg-1), var(--color-bg) 40%);
	
	--color-fg-link: var(--fg-alpha);
	--color-fg-link-visited: var(--color-fg-link);
}

::selection {
	background-color: var(--color-fg-1);
	color: var(--color-bg);
}

.DJNextPrevious {
	.DJNextPrevious_Label {
		display: none;
	}
	
	.DJPrevious {
		padding-top: 1em;
		border: none;
		border-right: 2px solid var(--bg-alpha);
		border-radius: 0;
		transition: border-right-width 0.3s linear;
		
		.DJNextPrevious_Link::before {
			content: "← Westward";
		}
		
		&:hover {
			border-right-width: 8px;
		}
	}
	
	.DJNext {
		padding-top: 1em;
		border: none;
		border-left: 2px solid var(--bg-omega);
		border-radius: 0;
		transition: border-left-width 0.3s linear;
		
		.DJNextPrevious_Link::before {
			content: "→ Eastward";
		}
		
		&:hover {
			border-left-width: 8px;
		}
	}
	
	.DJNextPrevious_Link {
		position: relative;
		padding-top: 0.5em;
		text-align: center;
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
		
		&::before {
			font-size: var(--fs-tiny);
			position: absolute;
			top: -1em;
			text-decoration: none;
			width: max-content;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	
	a:hover {
		background-color: inherit;
	}
}

.DJFooter_Content {
	font-size: x-small;
}


body.vsc-initialized {
	font-family: "Shantell Sans", var(--f-body);
}

.DJContent {
	border-left: 2px solid var(--bg-alpha);
	border-right: 2px solid var(--bg-omega);
}

.DJTableOfContents.m-sidebar .DJTableOfContents_Content {
	border-left: 2px solid var(--bg-omega);
	padding-left: 0.35em;
	
	&::before {
		content: "Within";
		font-weight: bolder;
		text-decoration: underline;
		text-align: center;
		padding-bottom: 1.25em;
	}
	
	& a {
		text-decoration: none;
		color: var(--fg-blend);
	}
}

.DJDocTree .DJDocTree_Content {
	align-self: center;
	border-left: 2px solid var(--bg-alpha);
	padding-left: 0.35em;
	
	&::before {
		content: "Hereabouts";
		font-weight: bolder;
		text-decoration: underline;
		text-align: center;
		padding-bottom: 1.25em;
	}
	
	& ul.DJCollapse_Collapsee {
		border-left: 2px solid var(--bg-alpha);
		margin-left: 0;
		padding-left: 0.5em;
	}
	
	& .DJCollapse_Collapser {
		font-weight: normal;
		
		&:hover {
			background-color: inherit;
		}
	}
	
	& svg {
		display: none;
	}
	
	& a.m-active {
		display: flex;
		align-items: center;
		justify-content: space-between;
		
		&::after {
			content: "— You're here";
			font-size: smaller;
			font-style: italic;
			color: var(--fg-blend);
			text-decoration: none;
		}
	}
}

.DJDocTree .DJDocTree_Content li .m-collapsed {
	display: inherit;
}

[data-subtitle]:is(h1, h2, h3, h4, h5, h6) {
	position: relative;
	
	&::after {
		content: " — " attr(data-subtitle);
		font-size: small;
		font-style: italic;
		color: var(--fg-blend);
		position: absolute;
		margin-left: 0.35em;
		top: 50%;
		transform: translateY(-50%)
	}
}
