@import url(https://fonts.googleapis.com/css2?family=Fira+Code&family=Shantell+Sans&display=block);

:root:root {
	--bg-alpha: color-mix(in oklab, var(--color-bg), light-dark(black, white) 12%);
	--bg-omega: color-mix(in oklab, var(--color-bg), light-dark(black, black) 12%); /* in light mode, bg + white ≃ white */
	--fg-alpha: color-mix(in oklab, var(--color-fg-1), light-dark(black, white) 12%);
	--fg-omega: color-mix(in oklab, var(--color-fg-1), light-dark(white, black) 12%);
	
	--fg-blend: color-mix(in oklab, var(--color-fg-1), var(--color-bg) 40%);
	
	--color-fg-link: var(--fg-alpha);
	--color-fg-link-visited: var(--color-fg-link);
	
	--aside-border-radius: 0;
}

aside:is(aside) {
	border: none;
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
	border-image: linear-gradient(to right, var(--bg-alpha) 0%, var(--bg-omega) 100%);
	border-image-slice: 1;
	width: 90%;
	margin: auto;
	
	&::before {
		color: var(--color-fg-1);
	}
	
	&.note::before {
		background-color: inherit;
		font-style: italic;
	}
}

::selection {
	background-color: var(--color-fg-1);
	color: var(--color-bg);
}

.DJNextPrevious {
	.DJNextPrevious_Label {
		display: none;
	}
	
	.DJPrevious {
		padding-top: 1em;
		border: none;
		border-right: 2px solid var(--bg-alpha);
		border-radius: 0;
		transition: border-right-width 0.3s linear;
		
		.DJNextPrevious_Link::before {
			content: "← Westward";
		}
		
		&:hover {
			border-right-width: 8px;
		}
	}
	
	.DJNext {
		padding-top: 1em;
		border: none;
		border-left: 2px solid var(--bg-omega);
		border-radius: 0;
		transition: border-left-width 0.3s linear;
		
		.DJNextPrevious_Link::before {
			content: "→ Eastward";
		}
		
		&:hover {
			border-left-width: 8px;
		}
	}
	
	.DJNextPrevious_Link {
		position: relative;
		padding-top: 0.5em;
		text-align: center;
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
		
		&::before {
			font-size: var(--fs-tiny);
			position: absolute;
			top: -1em;
			text-decoration: none;
			width: max-content;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	
	a:hover {
		background-color: inherit;
	}
}

.DJFooter_Content {
	font-size: x-small;
}


body.vsc-initialized {
	font-family: "Shantell Sans", var(--f-body);

	tt, code, kbd, samp {
		font-family: "Fira Code", var(--f-monospace);
	}
}

span.shiki, pre.shiki {
	border-radius: 0px;
	border: none;
	tab-size: 4;
	
	background-color: inherit !important; /* shiki also uses !important */
	& * {
		background-color: inherit !important; /* shiki also uses !important */
	}
}

pre.shiki {
	border-left: 2px solid var(--bg-alpha);
	border-right: 2px solid var(--bg-omega);
	overflow-x: auto;
	
	&::after {
		content: "";
		display: block;
		position: relative;
		top: 1ex;
		left: -1ex;
		width: 10%;
		height: 2px;
		background-color: var(--bg-alpha);
	}
	
	&::before {
		content: "";
		display: block;
		position: relative;
		top: calc(-1ex + 0.5px);
		left: 90%;
		width: 10%;
		height: 2px;
		background-color: var(--bg-omega);
		transform: translateX(1ex);
	}
}

article {
	p {
		text-align: justify;
		text-indent: 1em hanging;
	}
	
	a {
		text-decoration: underline dotted;
		&:hover {
			text-decoration-style: solid;
		}
	}
}

.DJContent {
	border-left: 2px solid var(--bg-alpha);
	border-right: 2px solid var(--bg-omega);
}

.DJTableOfContents.m-sidebar .DJTableOfContents_Content {
	border-left: 2px solid var(--bg-omega);
	padding-left: 0.35em;
	
	&::before {
		content: "Within";
		font-weight: bolder;
		text-decoration: underline;
		text-align: center;
		padding-bottom: 1.25em;
	}
}

.DJTableOfContents_Content a {
	text-decoration: none;
	color: var(--fg-blend);
	
	&:hover {
		text-decoration: underline;
	}
}

.DJDocTree .DJDocTree_Content {
	align-self: center;
	border-left: 2px solid var(--bg-alpha);
	padding-left: 0.35em;
	
	&::before {
		content: "Hereabouts";
		font-weight: bolder;
		text-decoration: underline;
		text-align: center;
		padding-bottom: 1.25em;
	}
	
	& ul.DJCollapse_Collapsee {
		border-left: 2px solid var(--bg-alpha);
		margin-left: 0;
		padding-left: 0.5em;
	}
	
	& .DJCollapse_Collapser {
		font-weight: normal;
		
		&:hover {
			background-color: inherit;
		}
	}
	
	& svg {
		display: none;
	}
	
	& a.m-active {
		display: flex;
		align-items: center;
		justify-content: space-between;
		
		&::after {
			content: "— You're here";
			font-size: smaller;
			font-style: italic;
			color: var(--fg-blend);
			text-decoration: none;
		}
	}
}

.DJDocTree .DJDocTree_Content li .m-collapsed {
	display: inherit;
}

article :is(h1, h2, h3, h4, h5, h6) {
	text-align: center;
}

p:has(.subtitle) {
	font-size: small;
	font-style: italic;
	color: var(--fg-blend);
	position: relative;
	top: -3em;
	text-align: center;
	margin-bottom: -1.5em;
}
